.teamCard {
    padding: 0.5rem;
    font-family: var(--primary-font);
    display:flex;
    flex-direction: column; 
    gap: 0.5rem;
}

.teamComposition {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    justify-content: center;
    align-content: center;
}