.teamGenerator {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.teamCount {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.counter {
    display: grid;
    grid-template-columns: 20% auto 20%;
    align-items: center;
}

.teamCountButton {
    border-radius: 25px;
    padding: 0.5rem 1rem;
}

.generationButton {
    border-radius: 25px;
    padding: 0.5rem 1rem;
}