:root {
  --color-bg: #0F1217;
  --color-layer-1: #191E26;
  --color-border: #333A45;
  --color-input-bg: #0B0E12;

  --color-primary: #FF9F1A;
  --color-secondary: #ff941a;

  --primary-font: 'MuseoModerno', sans-serif;
  --color-text: #efefef;
  --color-secondary-text: #b0b0b0;

  color-scheme: light dark;
  
  padding: 0;
  margin: 0;
  
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--primary-font);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: var(--color-bg);
}

body {
    max-width: 700px;
}

a {
    text-decoration: none;
}