.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.listContainer {
    overflow-y: auto;
}

.playerItem {
    border: none;
    border-radius: 26px;
    padding: 1px;
    transition: background-color 0.2s ease;
}

.checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}

.actionPanel{
    display: grid;
    grid-template-columns: 30% auto;
    gap: 1rem;
}