.page {
    padding: 5%;
    font-family: var(--primary-font);
}

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 20% 20%;
    gap: 1rem;
    margin: 3rem 0 0 0;

    font-family: var(--primary-font);
}

.header img {
    width: 1rem;
    aspect-ratio: 1;
}

.headerNavButton {
    height: 2rem;
}

.toolList {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 0.5rem;
    margin: 1rem 0 1rem 0
}