.listContainer {
    overflow-y: auto;
}

.scoreInput {
    max-width: 3rem;
}

.actionPanel{
    display: grid;
    grid-template-columns: 30% auto;
    gap: 1rem;
}

.action {
    border-radius: 25px;
    padding: 0.5rem 1rem;
}
