.scoreTracker {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    padding: 1rem 0 0 0;
}

.newRoundButton {
    padding: 0.5rem 1rem;
} 

.scoreDisplay {
    height: clamp(2rem, 2.5vw, 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartSection {
    display: flex;
    flex-direction: column;
}